body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("back.jpg");
  background-repeat: repeat;
}

.form {
  width: 60%;
  margin: 0 auto;
}

@media(max-width:700px){
  .form{
    width:100%;
  }
}

.entryContain{
  border-bottom:2px dashed #000;
  padding-bottom:1em;
  padding-top:1em;
  margin-top:5px;
  width:45%;
  flex-grow:1;
  margin:1em;
}

.entryContain:hover{
  background-color: lightcyan;
}

.entryWrapper{
  width:100%;
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

#form{
  width:50%;
  flex-grow:1;
  margin-bottom:2em;
}

.form>input,
.form>button,
.entryBtn {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right:5px;
  padding-left:5px;
  background: none;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border: 1px solid darkslategrey;
}

.form>input {
  width: 90%;
}

.form>button,
.entryBtn,
.form>.submitbtn {
  width: 40%;
  margin: 2px;
  background-color:#dedede;
  -webkit-appearance: none;
}

.form>button:hover,
.form>.submitbtn:hover,
.entryBtn:hover {
  background-color: #ccc;
  -webkit-appearance: none;
}

.header {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.header>button {
  background: none;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border: none;
  font-size: 1.5em;
}

.header>button:hover {
  cursor: pointer;
}

#logo{
  margin:1em;
}

#logoimg{
  width:75px;
}

.search {
  margin: 0 auto;
  margin-bottom: 1em;
  width:50%;
}

.search>input,
.search>button {
  margin-top: 10px;
  width:100%;
  padding-top: 1em;
  padding-bottom:1em;
  padding-left:5px;
  padding-right:5px;
  background: none;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border: 1px solid darkslategrey;
}

.search>button:hover {
  background-color: #ccc;
}

.toast-container > span{
  color:grey;
}

.toast-container > span div{
  font-size:1.3em;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: none; }
  50%  { background-color: lightcyan; }
  100% { background-color: none; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: none; }
  50%  { background-color: lightcyan; }
  100% { background-color: none; }
}
@-o-keyframes fadeIt {
  0%   { background-color: none; }
  50%  { background-color: lightcyan; }
  100% { background-color: none; }
}
@keyframes fadeIt {
  0%   { background-color: none; }
  50%  { background-color: lightcyan; }
  100% { background-color: none; }
}

.backgroundAnimated{    
    background-image:none !important;
    -webkit-animation: fadeIt 2.5s ease-in-out; 
       -moz-animation: fadeIt 2.5s ease-in-out; 
         -o-animation: fadeIt 2.5s ease-in-out; 
            animation: fadeIt 2.5s ease-in-out; 
}

@media(max-width:570px){
  #login-dropdown-list,
  #login-buttons{
    width:85%;
    margin-left:.5em;
    margin-right:.5em;
  }
}